@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
div#content_form{
	width:405px;
	margin:100px auto;
}
tr{
	height:30px;
	font-size:13px;
	text-align: left;
	margin-top: 20px;
}
tr:nth-child(6)> td{
	text-align: right;
}
tr:nth-child(6)> td > a{
	text-decoration: none;
	color: gray;
}
tr:last-child > td{
	text-align:center;
}
.btn{
	width:150px;
	hegiht:70px;
	border:none;
	background-color: black;
	color:white;
	font-size:15px;
	radius:0;
}