@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
div#content_form{
	width:405px;
	margin:100px auto;
}
tr{
	height:30px;
	font-size:13px;
	text-align: left;
	margin-top: 20px;
}
tr.title td{
	padding-bottom:40px;
}
tr.search> td{
	text-align: right;
}
tr.search> td > a{
	text-decoration: none;
	color: gray;
}
tr:last-child > td{
	text-align:center;
}
input.btn,
button.btn{
	margin:0 auto;
	margin-left:10px;
	width:100px;
	hegiht:30px;
	border:none;
	border-radius:10px;
	background-color: #737373;
	color:white;
	font-size:15px;
	text-align:center;
	radius:0;
}
input.btn:hover,
button.btn:hover{
	background-color: black;
}